<div id="divhr"></div>
<div id="banner"></div> <br>
<hr>
	<br><center><strong><label style="font-size: 30px; color: #222222">Sobre Nós</label></strong></center><br>

	<div class="home container row">
		
		<div class="col-lg-12">
			<div class="row">
				<div class="col-6">
					<img src="{$img}" style="width: 200px; height: 200px; margin-top: -40px">
				</div>
				<div class="col-6">
					<p>{$p1}</p>
				</div>
					<p>{$p2}</p>
					<p>{$p3}</p><br><br>
				</div>
			</div>
		</div>

	<hr>

	<div class="cont">

			<br><center><strong><label style="font-size: 30px; color: #222222">Alguns Serviços</label></strong></center><br>

	  <div class="container">
	 	<div class="row">
	 	
		 	{loop="$result"}

		  	<div class="col-md-3 col-sm-6">

		  		<div class="square container">
			  		<center><label class=""><strong>{$value.title}</strong></label><br>
			  		<a href="/servicos/{$value.ID}/"><img src="{$value.dirfoto}" alt="imagem" id="homeserv" alt="logotipo"></a><br>

			  		<p class="servicos">{$value.p1}</p></center>
		  		</div><br>
		  		
		  	</div>
			{/loop}
	
	  	</div>
	  </div><br><br>

	</div> <hr><!-- end container -->
